.search-area {
  mat-form-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}

.container {

  .title {
    color: black;
    margin:0;
    padding:50px 20px;
  }

}
